@import url('https://fonts.cdnfonts.com/css/ankh-sanctuary');

*{
  margin: 0;
  padding: 0;
  border: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background: linear-gradient(#90E0EF, #00B4D8, #0077B6) ;
  height: 100vh;
  background-repeat: no-repeat;
}

.title{
  display: flex;
  justify-content: space-around;
  margin: 2vh;
}

.title h1{
  color: #540b0e;
  font-family: 'Ankh Sanctuary', sans-serif;
  font-size: 3rem;
  font-weight: 500;
}

.form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 85%;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  margin: auto;
}

.form-container .merchandise-carousel{
  background-color: #023e8a;
  position: relative;
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.merchandise-carousel .carousel-slider{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.carousel-slider img{
  position: absolute;
  object-fit: cover;
  opacity: 0;
  top: 80%;
  transform: translateY(10%);
}

.carousel-slider img.active{
  opacity: 1;
  transition: opacity 0.5s;
}

.merchandise-carousel i{
  z-index: 2;
  position: absolute;
  top: 50%;
  font-size: 2rem;
  color: #ffd60a;
  cursor: pointer;
  transform: translateY(-50%);
}

.merchandise-carousel i.fa-chevron-left{
  left: 1rem;
}

.merchandise-carousel i.fa-chevron-right{
  right: 1rem;
}

.form-container .form-info{
  background-color: #CAF0F8;
  height: 100%;
  width: 50%;
}

.form-info form fieldset {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.form-info form label {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-info form input{
  border: none;
  width: 75%;
  padding: 5px;
}

.form-info form select{
  border: none;
  width: 75%;
  padding: 5px;
}

.form-info form img{
  width: 50%;
  height: auto;
  margin: auto;
}

.form-info form .sizes-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1100px) {
  .form-container{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 80vh;
    margin: 2rem 20vw;
  }

  .form-container .merchandise-carousel,
  .form-container .form-info {
    width: 100%; /* Make inner elements take full width */
    flex:1;
  }

  .carousel-slider img {
    width: 210px; /* Adjust image size for mobile view */
    position: absolute;
    height: auto;
    margin: auto;
  }
}