@import url('https://fonts.cdnfonts.com/css/ankh-sanctuary');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(#90E0EF, #00B4D8, #0077B6);
  min-height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;
}

.title {
  display: flex;
  justify-content: center;
  margin: 2vh;
}

.title h1 {
  color: #540b0e;
  font-family: 'Ankh Sanctuary', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
}

.form-container {
  display: flex;
  align-items: stretch; 
  justify-content: center;
  width: 80vw;
  max-width: 1200px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  background-color: #CAF0F8;
  border-radius: 8px;
  overflow: visible;
}

.merchandise-carousel {
  background-color: #023e8a;
  position: relative;
  width: 50%;
  overflow: hidden;
  border-radius: 8px 0 0 8px;
}

.carousel-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.carousel-slider img {
  width: 80%;
  height: auto;
  opacity: 0;
  transition: opacity 0.2s;
  position: absolute;
}

.carousel-slider img.active {
  opacity: 1;
  height: 500px;
  width: auto;
}

.merchandise-carousel i {
  position: absolute;
  top: 50%;
  font-size: 2rem;
  color: #ffd60a;
  cursor: pointer;
  transform: translateY(-50%);
  z-index: 2;
}

.merchandise-carousel i.fa-chevron-left {
  left: 1rem;
}

.merchandise-carousel i.fa-chevron-right {
  right: 1rem;
}

.form-info {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error {
  color: red;
  font-size: 0.8rem;
  display: none;
  margin: 0.2rem auto;
}

.success {
  color: green;
  font-size: 0.8rem;
  display: none;
  margin: 0.2rem auto;
}

form fieldset {
  display: flex;
  flex-direction: column;
  margin: 0.8rem 0;
  border: none;
}

form label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(0.8rem, 1vw, 1.2rem);
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form input,
form select {
  border: none;
  width: 75%;
  padding: 5px;
}

form img {
  width: 50%;
  height: auto;
  margin: auto;
}

.size-select {
  min-width: 200px;
}

.sizes-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  font-size: clamp(0.5rem, 1vw, 1.2rem);
}

.final .buttons {
  display: flex;
  justify-content: space-around;
  margin: 0.5rem 20%;
}

.final .terms-and-conditions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: clamp(0.8rem, 1vw, 1.2rem);
  margin-top: 0.5rem;
}

#terms-and-conditions-box {
  width: 2rem;
}

.final button {
  width: 30%;
  padding: 0.5rem;
  background-color: #023e8a;
  color: #CAF0F8;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
}

.final .submit-button:hover {
  background-color: #023e8aaa;
}

.final .reset-button {
  background-color: #ffd60a;
  color: black;
  transition: 0.2s ease-in-out;
}

.final .reset-button:hover {
  background-color: #540b0e;
  color: white;
  transition: 0.2s ease-in-out;
}

@media (max-width: 1100px) {
  .form-container {
    width: 90vw;
    flex-direction: column;
  }

  .merchandise-carousel,
  .form-info {
    width: 100%;
  }

  .merchandise-carousel i {
    display: none !important;
  }

  .carousel-slider {
    height: auto; 
  }

  .carousel-slider img {
    width: auto; 
    height: 500px !important; 
    margin: auto;
    position: static; 
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .form-container {
    width: 90vw;
    flex-direction: column;
  }

  .merchandise-carousel,
  .form-info {
    width: 100%;
  }

  .merchandise-carousel i {
    display: none !important;
  }

  .carousel-slider img {
    height: 220px !important;
    width: auto;
    position: static;
    opacity: 1;
  }

  form label {
    flex-direction: column;
    align-items: flex-start;
  }

  form input,
  form select {
    width: 100%;
  }

  .final .buttons {
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0;
  }

  .final button {
    width: 80%;
    margin-bottom: 0.5rem;
  }

  .final .terms-and-conditions {
    display: flex;
    justify-content: center;
    margin: auto;
  }
}

@media (max-width: 480px) {
  .title h1 {
    font-size: 1.5rem;
  }

  form label {
    font-size: 0.9rem;
  }

  form input,
  form select {
    padding: 8px;
  }

  .sizes-container label {
    margin: 3px;
  }

  .final button {
    padding: 8px 15px;
  }

  .sizes-container {
    gap: 0.5rem;
  }
}